In [1]:
# Importing Pandas
import pandas as pd

In [2]:
# Reads the json file embedded from a news website
voters_profile = pd.read_json("https://data.gmanetwork.com/gno/microsites/eleksyon2022/voters_profile/provinces.gz")

# Transposes the indexes and columns
voters_profile = voters_profile.T

# Resets the index of the dataframe
voters_profile = voters_profile.reset_index()

# Rename the first column from 'index' to 'province'
voters_profile = voters_profile.rename(columns = {'index': 'province'})

# Returns the dataframe
voters_profile

,province,total_both_sex_voters,total_female_voters,total_male_voters,total_single,total_married,total_widow,total_legally_separated,age_18_19,age_20_24,age_25_29,age_30_34,age_35_39,age_40_44,age_45_49,age_50_54,age_55_59,age_60
0,ABRA,182696,88270,94426,100484,78448,3590,174,9595,23430,22960,21052,18006,16392,13431,12754,11647,33429
1,AGUSAN_DEL_NORTE,502116,249364,252752,290536,203362,7670,548,25819,72197,65162,61643,49152,43844,38666,36291,32456,76886
2,AGUSAN_DEL_SUR,442628,216091,226537,240630,194926,6757,315,21941,62143,60074,56686,46060,38767,35023,32173,28310,61451
3,AKLAN,409938,204555,205383,225765,175170,8689,314,19430,53957,51392,47481,41106,38130,31699,29445,26145,71153
4,ALBAY,890148,457229,432919,504471,368851,16195,631,48687,130192,113869,98684,85333,80162,69964,64775,57155,141327
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,TAWI-TAWI,232845,112130,120715,103638,124165,3960,1082,11032,34453,40789,30136,25114,21070,17643,14955,11310,26343
78,ZAMBALES,540309,281549,258760,316234,215652,7633,790,22584,70777,67255,64212,55218,50896,43732,42744,36862,86029
79,ZAMBOANGA_DEL_NORTE,738543,362372,376171,405245,319909,12367,1022,36890,100917,98095,87891,70856,63787,58511,54867,48485,118244
80,ZAMBOANGA_DEL_SUR,1138325,577360,560965,599540,516486,20128,2171,49560,154504,155575,138140,111879,105932,94811,86641,74475,166808
81,ZAMBOANGA_SIBUGAY,422062,206400,215662,220334,194986,6142,600,22293,58151,58025,53682,42230,37747,33328,30573,26028,60005

In [3]:
# Replaces the underscore line in the province name with white space

for i in range(len(voters_profile['province'])):
    white_space = voters_profile['province'][i].replace("_"," ")
    voters_profile['province'][i] = white_space
    
voters_profile['province']

C:\Users\Asus\AppData\Local\Temp/ipykernel_12888/3166518906.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  voters_profile['province'][i] = white_space

0                    ABRA
1        AGUSAN DEL NORTE
2          AGUSAN DEL SUR
3                   AKLAN
4                   ALBAY
             ...
77              TAWI-TAWI
78               ZAMBALES
79    ZAMBOANGA DEL NORTE
80      ZAMBOANGA DEL SUR
81      ZAMBOANGA SIBUGAY
Name: province, Length: 82, dtype: object

In [4]:
voters_profile

,province,total_both_sex_voters,total_female_voters,total_male_voters,total_single,total_married,total_widow,total_legally_separated,age_18_19,age_20_24,age_25_29,age_30_34,age_35_39,age_40_44,age_45_49,age_50_54,age_55_59,age_60
0,ABRA,182696,88270,94426,100484,78448,3590,174,9595,23430,22960,21052,18006,16392,13431,12754,11647,33429
1,AGUSAN DEL NORTE,502116,249364,252752,290536,203362,7670,548,25819,72197,65162,61643,49152,43844,38666,36291,32456,76886
2,AGUSAN DEL SUR,442628,216091,226537,240630,194926,6757,315,21941,62143,60074,56686,46060,38767,35023,32173,28310,61451
3,AKLAN,409938,204555,205383,225765,175170,8689,314,19430,53957,51392,47481,41106,38130,31699,29445,26145,71153
4,ALBAY,890148,457229,432919,504471,368851,16195,631,48687,130192,113869,98684,85333,80162,69964,64775,57155,141327
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,TAWI-TAWI,232845,112130,120715,103638,124165,3960,1082,11032,34453,40789,30136,25114,21070,17643,14955,11310,26343
78,ZAMBALES,540309,281549,258760,316234,215652,7633,790,22584,70777,67255,64212,55218,50896,43732,42744,36862,86029
79,ZAMBOANGA DEL NORTE,738543,362372,376171,405245,319909,12367,1022,36890,100917,98095,87891,70856,63787,58511,54867,48485,118244
80,ZAMBOANGA DEL SUR,1138325,577360,560965,599540,516486,20128,2171,49560,154504,155575,138140,111879,105932,94811,86641,74475,166808
81,ZAMBOANGA SIBUGAY,422062,206400,215662,220334,194986,6142,600,22293,58151,58025,53682,42230,37747,33328,30573,26028,60005